# <center> <img src="img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> **Carrera: <Coloca el nombre de tu carrera aqui>** </center>
---
### <center> **Primavera 2025** </center>
---

**Lab 4**

**Fecha**: 18 febrero 2024

**Nombre del Equipo**: Arriba Linux

**Profesor**: Pablo Camarillo Ramirez

CREACIÓN CON EL CLUSTER DE SPARK

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQL-PeopleExample") \
    .master("spark://ac7f0d7e8e91:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/18 14:19:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

EJEMPLO DE LIBRERÍA SPARK UTILS

In [ ]:
from ArribaLinux.spark_utils import SparkUtils

schema = SparkUtils.generate_schema(
    [
        ("name", "StringType"),
        ("age", "IntegerType"),
        ("city", "StringType")
    ]
)

In [5]:
sample_data = [
    ("Alice", 25, "New York"),
    ("Bob", 30, "Los Angeles"),
    ("Charlie", 35, "Chicago"),
    ("David", 40, "Houston"),
    ("Eve", 22, "Phoenix"),
    ("Frank", 28, "Philadelphia"),
    ("Grace", 32, "San Antonio"),
    ("Hank", 45, "San Diego"),
    ("Ivy", 29, "Dallas")
]

people_df = spark.createDataFrame(sample_data, schema)
people_df.show()

+-------+---+------------+
|   name|age|        city|
+-------+---+------------+
|  Alice| 25|    New York|
|    Bob| 30| Los Angeles|
|Charlie| 35|     Chicago|
|  David| 40|     Houston|
|    Eve| 22|     Phoenix|
|  Frank| 28|Philadelphia|
|  Grace| 32| San Antonio|
|   Hank| 45|   San Diego|
|    Ivy| 29|      Dallas|
+-------+---+------------+