# <center> <img src="../labs/img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> **Procesamiento de Datos Masivos** </center>
---
### <center> **Primavera 2025** </center>
---
### <center> **Ejemplos de Spark SQL: Soluciones de almacenamiento para Big Data** </center>

---
**Profesor**: Dr. Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

#### Creacion de la conexión con el cluster de spark

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQL-Storage-Solutions") \
    .master("spark://56a250e0d184:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 13:20:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Car rental service

In [3]:
from team_name.spark_utils import SparkUtils
agencies_schema = SparkUtils.generate_schema([("agency_id", "string"), ("agency_info", "string")])

agencies_df = spark.read \
                .schema(agencies_schema) \
                .option("header", "true") \
                .csv("/home/jovyan/notebooks/data/rentals_dataset/agencies.csv")

agencies_df.printSchema()

agencies_df.show(5, truncate=False)

root
 |-- agency_id: string (nullable = true)
 |-- agency_info: string (nullable = true)

+---------+-----------------------------------------------------+
|agency_id|agency_info                                          |
+---------+-----------------------------------------------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|
+---------+-----------------------------------------------------+

In [4]:
from pyspark.sql.functions import get_json_object
agencies_df = agencies_df.withColumn("agency_name", get_json_object(agencies_df.agency_info, "$.agency_name"))
agencies_df.show(truncate=False)

+---------+-----------------------------------------------------+-------------+
|agency_id|agency_info                                          |agency_name  |
+---------+-----------------------------------------------------+-------------+
|1        |{'agency_name': 'NYC Rentals', 'city': 'New York'}   |NYC Rentals  |
|2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}  |LA Car Rental|
|3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'}   |Zapopan Auto |
|4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}  |SF Cars      |
|5        |{'agency_name': 'Mexico Cars', 'city': 'Mexico City'}|Mexico Cars  |
+---------+-----------------------------------------------------+-------------+

In [5]:
brands_schema = SparkUtils.generate_schema([("brand_id", "integer"), ("brand_info", "string")])
brands_df = spark.read.option("header", "true").schema(brands_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/brands.csv")
brands_df.printSchema()
brands_df = brands_df.withColumn("brand_name", get_json_object(brands_df.brand_info, "$.brand_name"))
brands_df.show(5, truncate=False)

root
 |-- brand_id: integer (nullable = true)
 |-- brand_info: string (nullable = true)

+--------+------------------------------------------------------+-------------+
|brand_id|brand_info                                            |brand_name   |
+--------+------------------------------------------------------+-------------+
|1       |{'brand_name': 'Mercedes-Benz', 'country': 'Tanzania'}|Mercedes-Benz|
|2       |{'brand_name': 'BMW', 'country': 'Hungary'}           |BMW          |
|3       |{'brand_name': 'Audi', 'country': 'Senegal'}          |Audi         |
|4       |{'brand_name': 'Ford', 'country': 'Tuvalu'}           |Ford         |
|5       |{'brand_name': 'BYD', 'country': 'Italy'}             |BYD          |
+--------+------------------------------------------------------+-------------+
only showing top 5 rows

In [6]:
cars_schema = SparkUtils.generate_schema([("car_id", "integer"), ("car_info", "string")])
cars_df = spark.read.option("header", "true").schema(cars_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/cars.csv")
cars_df.printSchema()
cars_df = cars_df.withColumn("car_name", get_json_object(cars_df.car_info, "$.car_name")) \
                .withColumn("brand_id", get_json_object(cars_df.car_info, "$.brand_id")) 
cars_df.show(5, truncate=False)

root
 |-- car_id: integer (nullable = true)
 |-- car_info: string (nullable = true)

+------+-------------------------------------------------------------------------------------+---------------------------------+--------+
|car_id|car_info                                                                             |car_name                         |brand_id|
+------+-------------------------------------------------------------------------------------+---------------------------------+--------+
|1     |{'car_name': 'Tucker, Hull and Gallegos Model 1', 'brand_id': 5, 'price_per_day': 68}|Tucker, Hull and Gallegos Model 1|5       |
|2     |{'car_name': 'Howard-Snow Model 7', 'brand_id': 5, 'price_per_day': 55}              |Howard-Snow Model 7              |5       |
|3     |{'car_name': 'Wagner LLC Model 2', 'brand_id': 2, 'price_per_day': 194}              |Wagner LLC Model 2               |2       |
|4     |{'car_name': 'Campos PLC Model 8', 'brand_id': 1, 'price_per_day': 107}              |Campos PLC Model 8               |1       |
|5     |{'car_name': 'Archer-Patel Model 3', 'brand_id': 4, 'price_per_day': 136}            |Archer-Patel Model 3             |4       |
+------+-------------------------------------------------------------------------------------+---------------------------------+--------+
only showing top 5 rows

In [7]:
customers_schema = SparkUtils.generate_schema([("customer_id", "integer"), ("customer_info", "string")])
customers_df = spark.read.option("header", "true").schema(customers_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/customers.csv")
customers_df.printSchema()
customers_df = customers_df.withColumn("customer_name", get_json_object(customers_df.customer_info, "$.customer_name"))
customers_df.show(5, truncate=True)

root
 |-- customer_id: integer (nullable = true)
 |-- customer_info: string (nullable = true)

+-----------+--------------------+-------------------+
|customer_id|       customer_info|      customer_name|
+-----------+--------------------+-------------------+
|          1|{'customer_name':...|  Martin Graves DVM|
|          2|{'customer_name':...|   Frederick Wilson|
|          3|{'customer_name':...|       Gabriela Lee|
|          4|{'customer_name':...|     Devin Thornton|
|          5|{'customer_name':...|Christopher Simmons|
+-----------+--------------------+-------------------+
only showing top 5 rows

In [8]:
rental_cars_schema = SparkUtils.generate_schema([("rental_id", "integer"), ("rental_info", "string")])
rental_cars_df = spark.read.option("header", "true").schema(rental_cars_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/rentals/")
rental_cars_df.printSchema()
rental_cars_df.show(5, truncate=False)

root
 |-- rental_id: integer (nullable = true)
 |-- rental_info: string (nullable = true)

+---------+--------------------------------------------------+
|rental_id|rental_info                                       |
+---------+--------------------------------------------------+
|12740    |{'car_id': 23, 'customer_id': 42, 'agency_id': 1} |
|12741    |{'car_id': 19, 'customer_id': 146, 'agency_id': 2}|
|12742    |{'car_id': 24, 'customer_id': 143, 'agency_id': 3}|
|12743    |{'car_id': 22, 'customer_id': 90, 'agency_id': 4} |
|12744    |{'car_id': 9, 'customer_id': 115, 'agency_id': 3} |
+---------+--------------------------------------------------+
only showing top 5 rows

In [9]:
rental_cars_df = rental_cars_df.withColumn("car_id", get_json_object(rental_cars_df.rental_info, '$.car_id')) \
                            .withColumn("customer_id", get_json_object(rental_cars_df.rental_info, '$.customer_id')) \
                            .withColumn("agency_id", get_json_object(rental_cars_df.rental_info, '$.agency_id'))

rental_cars_df.show(5, truncate=False)

+---------+--------------------------------------------------+------+-----------+---------+
|rental_id|rental_info                                       |car_id|customer_id|agency_id|
+---------+--------------------------------------------------+------+-----------+---------+
|12740    |{'car_id': 23, 'customer_id': 42, 'agency_id': 1} |23    |42         |1        |
|12741    |{'car_id': 19, 'customer_id': 146, 'agency_id': 2}|19    |146        |2        |
|12742    |{'car_id': 24, 'customer_id': 143, 'agency_id': 3}|24    |143        |3        |
|12743    |{'car_id': 22, 'customer_id': 90, 'agency_id': 4} |22    |90         |4        |
|12744    |{'car_id': 9, 'customer_id': 115, 'agency_id': 3} |9     |115        |3        |
+---------+--------------------------------------------------+------+-----------+---------+
only showing top 5 rows

In [10]:
rental_cars_df = rental_cars_df.join(cars_df, rental_cars_df.car_id == cars_df.car_id, "inner") \
                                .join(agencies_df, rental_cars_df.agency_id == agencies_df.agency_id, "inner") \
                                .join(customers_df, rental_cars_df.customer_id == customers_df.customer_id, "inner")

rental_cars_df.show(5, truncate=False)

+---------+--------------------------------------------------+------+-----------+---------+------+-----------------------------------------------------------------------------------+-------------------------------+--------+---------+---------------------------------------------------+-------------+-----------+------------------------------------------------------------------------+---------------+
|rental_id|rental_info                                       |car_id|customer_id|agency_id|car_id|car_info                                                                           |car_name                       |brand_id|agency_id|agency_info                                        |agency_name  |customer_id|customer_info                                                           |customer_name  |
+---------+--------------------------------------------------+------+-----------+---------+------+-----------------------------------------------------------------------------------+-------------------------------+--------+---------+---------------------------------------------------+-------------+-----------+------------------------------------------------------------------------+---------------+
|12740    |{'car_id': 23, 'customer_id': 42, 'agency_id': 1} |23    |42         |1        |23    |{'car_name': 'Salazar Ltd Model 6', 'brand_id': 6, 'price_per_day': 163}           |Salazar Ltd Model 6            |6       |1        |{'agency_name': 'NYC Rentals', 'city': 'New York'} |NYC Rentals  |42         |{'customer_name': 'Sara Anderson', 'city': 'Monterrey', 'age': 30}      |Sara Anderson  |
|12741    |{'car_id': 19, 'customer_id': 146, 'agency_id': 2}|19    |146        |2        |19    |{'car_name': 'Harris, Lloyd and Payne Model 4', 'brand_id': 2, 'price_per_day': 91}|Harris, Lloyd and Payne Model 4|2       |2        |{'agency_name': 'LA Car Rental', 'city': 'Londres'}|LA Car Rental|146        |{'customer_name': 'Calvin Walker', 'city': 'Mexico City', 'age': 29}    |Calvin Walker  |
|12742    |{'car_id': 24, 'customer_id': 143, 'agency_id': 3}|24    |143        |3        |24    |{'car_name': 'Alvarez-Davis Model 6', 'brand_id': 7, 'price_per_day': 104}         |Alvarez-Davis Model 6          |7       |3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'} |Zapopan Auto |143        |{'customer_name': 'Shawn Tran', 'city': 'Monterrey', 'age': 24}         |Shawn Tran     |
|12743    |{'car_id': 22, 'customer_id': 90, 'agency_id': 4} |22    |90         |4        |22    |{'car_name': 'Lopez and Sons Model 3', 'brand_id': 2, 'price_per_day': 141}        |Lopez and Sons Model 3         |2       |4        |{'agency_name': 'SF Cars', 'city': 'San Francisco'}|SF Cars      |90         |{'customer_name': 'Edward Mccarthy', 'city': 'San Francisco', 'age': 48}|Edward Mccarthy|
|12744    |{'car_id': 9, 'customer_id': 115, 'agency_id': 3} |9     |115        |3        |9     |{'car_name': 'Levy Group Model 8', 'brand_id': 1, 'price_per_day': 57}             |Levy Group Model 8             |1       |3        |{'agency_name': 'Zapopan Auto', 'city': 'Zapopan'} |Zapopan Auto |115        |{'customer_name': 'Antonio Haynes', 'city': 'Mexico City', 'age': 25}   |Antonio Haynes |
+---------+--------------------------------------------------+------+-----------+---------+------+-----------------------------------------------------------------------------------+-------------------------------+--------+---------+---------------------------------------------------+-------------+-----------+------------------------------------------------------------------------+---------------+
only showing top 5 rows

In [11]:
# Final result
rental_cars_df = rental_cars_df.select("rental_id", "car_name", "agency_name", "customer_name")

In [12]:
rental_cars_df.show(5, truncate=False)

+---------+-------------------------------+-------------+---------------+
|rental_id|car_name                       |agency_name  |customer_name  |
+---------+-------------------------------+-------------+---------------+
|12740    |Salazar Ltd Model 6            |NYC Rentals  |Sara Anderson  |
|12741    |Harris, Lloyd and Payne Model 4|LA Car Rental|Calvin Walker  |
|12742    |Alvarez-Davis Model 6          |Zapopan Auto |Shawn Tran     |
|12743    |Lopez and Sons Model 3         |SF Cars      |Edward Mccarthy|
|12744    |Levy Group Model 8             |Zapopan Auto |Antonio Haynes |
+---------+-------------------------------+-------------+---------------+
only showing top 5 rows

In [13]:
rental_cars_df.createOrReplaceTempView("rentals")

In [14]:
spark.sql("SELECT rental_id, customer_name FROM rentals").show(5)

+---------+---------------+
|rental_id|  customer_name|
+---------+---------------+
|    12740|  Sara Anderson|
|    12741|  Calvin Walker|
|    12742|     Shawn Tran|
|    12743|Edward Mccarthy|
|    12744| Antonio Haynes|
+---------+---------------+
only showing top 5 rows

In [15]:
spark.sql("SELECT agency_name, count(*) as rentals_count FROM rentals GROUP BY agency_name").show()

+-------------+-------------+
|  agency_name|rentals_count|
+-------------+-------------+
| Zapopan Auto|         4425|
|LA Car Rental|         4451|
|      SF Cars|         4481|
|  NYC Rentals|         4477|
+-------------+-------------+

#### Register temporal views

In [16]:
agencies_df.createOrReplaceTempView("agencies")
brands_df.createOrReplaceTempView("brands")
customers_df.createOrReplaceTempView("customers")
rental_cars_df.createOrReplaceTempView("rentals")
cars_df.createOrReplaceTempView("cars")

#### Identify the most popular car brands by the number of rentals

In [17]:
# Re create cars view
cars_df = spark.read.option("header", "true").schema(cars_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/cars.csv")
cars_df.createOrReplaceTempView("cars")
cars_df = spark.sql("""
                    SELECT c.car_id, 
                           get_json_object(c.car_info, '$.car_name') AS car_name,
                           get_json_object(b.brand_info, '$.brand_name') AS brand_name
                    FROM cars c 
                    JOIN brands b
                    ON get_json_object(c.car_info, '$.brand_id') = b.brand_id
                    """)
cars_df.createOrReplaceTempView("cars")
spark.sql("SELECT * FROM cars").show(5)

+------+--------------------+-------------+
|car_id|            car_name|   brand_name|
+------+--------------------+-------------+
|     1|Tucker, Hull and ...|          BYD|
|     2| Howard-Snow Model 7|          BYD|
|     3|  Wagner LLC Model 2|          BMW|
|     4|  Campos PLC Model 8|Mercedes-Benz|
|     5|Archer-Patel Model 3|         Ford|
+------+--------------------+-------------+
only showing top 5 rows

In [18]:
# Re create rentals view
rental_cars_df = spark.read.option("header", "true").schema(rental_cars_schema).csv("/home/jovyan/notebooks/data/rentals_dataset/rentals/")
rental_cars_df.createOrReplaceTempView("rentals")
rental_cars_df = spark.sql("""
            SELECT r.rental_id,
                   c.car_name,
                   c.brand_name,
                   a.agency_name,
                   cus.customer_name
            FROM rentals r
            JOIN cars c ON get_json_object(r.rental_info, '$.car_id') = c.car_id
            JOIN agencies a ON get_json_object(r.rental_info, '$.agency_id') = a.agency_id
            JOIN customers cus ON get_json_object(r.rental_info, '$.customer_id') = cus.customer_id
          """)
rental_cars_df.createOrReplaceTempView("rentals")

spark.sql("""
          SELECT brand_name, count(*) AS rental_count FROM rentals 
          GROUP BY brand_name ORDER BY rental_count DESC LIMIT 3
          """).show()

+----------+------------+
|brand_name|rental_count|
+----------+------------+
|       BMW|        5471|
|     Honda|        4258|
|      Ford|        2473|
+----------+------------+

#### Find the top 5 customers

In [19]:
spark.sql("""
            SELECT customer_name, count(*) AS rental_count FROM rentals GROUP BY customer_name ORDER BY rental_count DESC LIMIT 5
          """).show()

+-----------------+------------+
|    customer_name|rental_count|
+-----------------+------------+
|Catherine Alvarez|         136|
|    Travis Butler|         133|
|     Corey Wilson|         132|
|      Ronald Hall|         131|
|    Cynthia White|         131|
+-----------------+------------+

#### Find which car generate the most revenue

In [20]:
spark.sql("SELECT car_name, count(*) AS rental_count FROM rentals GROUP BY car_name ORDER BY rental_count DESC LIMIT 5").show()

+--------------------+------------+
|            car_name|rental_count|
+--------------------+------------+
|Bryan, Barnes and...|         654|
|Clayton-Cook Mode...|         653|
|Summers, Barnett ...|         653|
|Harris, Lloyd and...|         649|
|Myers, Thornton a...|         643|
+--------------------+------------+

#### Persist data

In [21]:
rental_cars_df.write \
                .mode("overwrite") \
                .partitionBy("agency_name") \
                .parquet("/home/jovyan/notebooks/data/rentals_output/")

In [82]:

from whatsapp2.spark_utils import SparkUtils
# Load the CSV file
path = "/home/jovyan/notebooks/data/netflix1.csv"
output_path = "/home/jovyan/notebooks/data/netflix2.csv"



# Limpiar y guardar CSV
SparkUtils.clean_df(spark, "/home/jovyan/notebooks/data/oaxaca.csv", "/home/jovyan/notebooks/data/oaxaca_clean.csv")

# Escribir en formato Parquet con partición
SparkUtils.write_df(spark, "/home/jovyan/notebooks/data/oaxaca_clean.csv", "/home/jovyan/notebooks/data/oaxacaclean", "release_year")



SparkUtils.clean_df()

TypeError: SparkUtils.clean_df() takes 1 positional argument but 3 were given

25/03/07 15:13:53 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-d3d21da4-ab82-4e19-b2d9-3276fce40e29. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-d3d21da4-ab82-4e19-b2d9-3276fce40e29
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:174)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:109)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:90)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively(SparkFileUtils.scala:121)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively$(SparkFileUtils.scala:120)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1126)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:368)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:364)
	at scala.collection.ArrayOps$.foreach$extension(ArrayOps.scala:1328)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:364)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:359)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2122)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$25(SparkContext.scala:2305)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1375)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2305)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2211)
	at org.apache.spark.SparkContext.$anonfun$new$34(SparkContext.scala:681)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at scala.util.Try$.apply(Try.scala:210)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)
25/03/07 15:13:53 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-d3d21da4-ab82-4e19-b2d9-3276fce40e29/13. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-d3d21da4-ab82-4e19-b2d9-3276fce40e29/13
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:174)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:109)
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingJavaIO(JavaUtils.java:130)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:117)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:90)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively(SparkFileUtils.scala:121)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively$(SparkFileUtils.scala:120)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1126)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:368)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:364)
	at scala.collection.ArrayOps$.foreach$extension(ArrayOps.scala:1328)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:364)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:359)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2122)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$25(SparkContext.scala:2305)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1375)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2305)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2211)
	at org.apache.spark.SparkContext.$anonfun$new$34(SparkContext.scala:681)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at scala.util.Try$.apply(Try.scala:210)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [37]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
df = spark.read.option("header", True).csv("/home/jovyan/notebooks/data/oaxaca.csv")
df_cleaned = df.dropna()
output_path = "/home/jovyan/notebooks/data/oaxacaclean"
df_cleaned.write \
    .mode("overwrite") \
    .partitionBy("release_year") \
    .parquet(output_path)

In [23]:
# Stop the SparkContext
sc.stop()