# <center> <img src="img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
## <center> **Carrera: <Coloca el nombre de tu carrera aqui>** </center>
---
### <center> **Primavera 2025** </center>
---

**Lab XX**:1

**Fecha**:

**Nombre del Estudiante**: Samantha Abigail Quintero Valadez

**Profesor**: Pablo Camarillo Ramirez

In [5]:
students_data = [("Alice", {"Math": 90, "Science": 85, "History": 78}),
("Bob", {"Math": 88, "Science": 92, "History": 80}),
("Charlie", {"Math": 78, "Science": 85, "History": 88})]

In [7]:
#1
avg={}
for students in students_data:
    grades_sum=0
    for sub,grade in students[1].items():
        grades_sum+=grade
    avg[students[0]]=round(grades_sum/3,2)
avg

{'Alice': 84.33, 'Bob': 86.67, 'Charlie': 83.67}

In [11]:
#2
max_grade=max(avg.items(),key=lambda x: x[1])
max_grade

('Bob', 86.67)

In [12]:
#3
subjects=set()
for students in students_data:
    for sub in students[1].keys():
        subjects.add(sub)
subjects

{'History', 'Math', 'Science'}

In [17]:
#4
from collections import defaultdict
sub_dic=defaultdict(list)

for students in students_data:
    for sub,grade in students[1].items():
        sub_dic[sub].append(grade)

print(dict(sub_dic))

{'Math': [90, 88, 78], 'Science': [85, 92, 85], 'History': [78, 80, 88]}