# <center> <img src="../../labs/img/ITESOLogo.png" alt="ITESO" width="480" height="130"> </center>
# <center> **Departamento de Electrónica, Sistemas e Informática** </center>
---
### <center> **Procesamiento de Datos Masivos** </center>
---
### <center> **Primavera 2025** </center>
---
**Primer Examen**

**Fecha**: 14 de Marzo del 2025

**Nombre del estudiante**: Ana Cristina Luna Arellano

**Professor**: Pablo Camarillo Ramirez

In [1]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQL-Exam-1-CristinaLuna  ") \
    .master("spark://d9c3cc2bade8:7077") \
    .config("spark.ui.port","4040") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/14 13:42:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Read the Data

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json, when, avg, desc, year
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType

df_employees = spark.read.option("header", "true").csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/employees.csv")
df_departments = spark.read.option("header", "true").csv("/home/jovyan/notebooks/data/exam_P2025_ESI3914B/departments.csv")

### Extract the employee info from the JSON column (20 points):
    Extract the following the columns: name (string), department_id (integer), salary (double), and hire_date (date) from the employee_info column

In [17]:
schema = StructType([
    StructField("name", StringType(), True),
    StructField("department_id", IntegerType(), True),
    StructField("salary", DoubleType(), True),
    StructField("hire_date", DateType(), True)
])

df_employees = df_employees.withColumn("employee_info", from_json(col("employee_info"), schema))
df_employees = df_employees.select(
    col("employee_info.name"),
    col("employee_info.department_id"),
    col("employee_info.salary"),
    col("employee_info.hire_date")
)

df_employees.show(truncate=False)

+---------+-------------+---------+----------+
|name     |department_id|salary   |hire_date |
+---------+-------------+---------+----------+
|Caitlyn  |103          |115959.78|2002-06-10|
|Rachel   |104          |100820.16|2009-07-01|
|Carrie   |105          |114421.44|1998-12-10|
|Renee    |104          |54688.13 |1995-03-17|
|Gabriella|109          |106267.03|1995-02-09|
|Kristen  |101          |88237.54 |2010-11-15|
|Jonathan |102          |39323.42 |2012-06-30|
|Michelle |101          |64262.85 |2005-10-30|
|Michelle |105          |103521.88|1991-07-10|
|Lisa     |110          |55435.93 |2016-03-25|
|Cheryl   |103          |88073.75 |2020-08-21|
|Mikayla  |107          |95192.05 |2022-05-13|
|Lisa     |104          |36032.49 |2019-05-16|
|Sean     |108          |64904.69 |2021-06-06|
|Monica   |105          |92589.97 |2022-05-09|
|Katelyn  |104          |147225.58|2008-03-14|
|Linda    |108          |146632.64|2002-09-04|
|Tammy    |109          |128860.4 |2014-04-18|
|William  |103          |142645.41|1998-05-25|
|Jorge    |109          |87587.51 |2018-03-25|
+---------+-------------+---------+----------+
only showing top 20 rows

### Join Operations (10 points):
    Join the employees DataFrame with the departments DataFrame on department_id to enrich the employee data with department details.

In [20]:
df_enriched = df_employees.join(df_departments, "department_id", "left")
df_enriched.show(truncate=False)

+-------------+---------+---------+----------+-------------------------------------------+-------------+
|department_id|name     |salary   |hire_date |department_name                            |location     |
+-------------+---------+---------+----------+-------------------------------------------+-------------+
|103          |Caitlyn  |115959.78|2002-06-10|Sales and Marketing                        |Chicago      |
|104          |Rachel   |100820.16|2009-07-01|Data Engineering                           |Zapopan      |
|105          |Carrie   |114421.44|1998-12-10|Data Science                               |Seattle      |
|104          |Renee    |54688.13 |1995-03-17|Data Engineering                           |Zapopan      |
|109          |Gabriella|106267.03|1995-02-09|Customer Service                           |San Francisco|
|101          |Kristen  |88237.54 |2010-11-15|Human Resources                            |San Diego    |
|102          |Jonathan |39323.42 |2012-06-30|Finance and Accounting                     |New York     |
|101          |Michelle |64262.85 |2005-10-30|Human Resources                            |San Diego    |
|105          |Michelle |103521.88|1991-07-10|Data Science                               |Seattle      |
|110          |Lisa     |55435.93 |2016-03-25|Corporate Strategy and Business Development|Los Angeles  |
|103          |Cheryl   |88073.75 |2020-08-21|Sales and Marketing                        |Chicago      |
|107          |Mikayla  |95192.05 |2022-05-13|Legal                                      |Chicago      |
|104          |Lisa     |36032.49 |2019-05-16|Data Engineering                           |Zapopan      |
|108          |Sean     |64904.69 |2021-06-06|Research and Development                   |Philadelphia |
|105          |Monica   |92589.97 |2022-05-09|Data Science                               |Seattle      |
|104          |Katelyn  |147225.58|2008-03-14|Data Engineering                           |Zapopan      |
|108          |Linda    |146632.64|2002-09-04|Research and Development                   |Philadelphia |
|109          |Tammy    |128860.4 |2014-04-18|Customer Service                           |San Francisco|
|103          |William  |142645.41|1998-05-25|Sales and Marketing                        |Chicago      |
|109          |Jorge    |87587.51 |2018-03-25|Customer Service                           |San Francisco|
+-------------+---------+---------+----------+-------------------------------------------+-------------+
only showing top 20 rows

### Transformations (Using when()) (10 points):

In [21]:
df_enriched = df_enriched.withColumn("salary_category", when(col("salary") >= 55000, "High").otherwise("Low"))
df_enriched.select("name", "salary", "salary_category").show(truncate=False)

+---------+---------+---------------+
|name     |salary   |salary_category|
+---------+---------+---------------+
|Caitlyn  |115959.78|High           |
|Rachel   |100820.16|High           |
|Carrie   |114421.44|High           |
|Renee    |54688.13 |Low            |
|Gabriella|106267.03|High           |
|Kristen  |88237.54 |High           |
|Jonathan |39323.42 |Low            |
|Michelle |64262.85 |High           |
|Michelle |103521.88|High           |
|Lisa     |55435.93 |High           |
|Cheryl   |88073.75 |High           |
|Mikayla  |95192.05 |High           |
|Lisa     |36032.49 |Low            |
|Sean     |64904.69 |High           |
|Monica   |92589.97 |High           |
|Katelyn  |147225.58|High           |
|Linda    |146632.64|High           |
|Tammy    |128860.4 |High           |
|William  |142645.41|High           |
|Jorge    |87587.51 |High           |
+---------+---------+---------------+
only showing top 20 rows

### Filter and Group

In [24]:
# Filtrar empleados según la categoría de salario
df_high_salary = df_enriched.filter(col("salary_category") == "High")
df_low_salary = df_enriched.filter(col("salary_category") == "Low")

df_high_salary.show(truncate=False)
df_low_salary.show(truncate=False)

+-------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
|department_id|name     |salary   |hire_date |department_name                            |location     |salary_category|
+-------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
|103          |Caitlyn  |115959.78|2002-06-10|Sales and Marketing                        |Chicago      |High           |
|104          |Rachel   |100820.16|2009-07-01|Data Engineering                           |Zapopan      |High           |
|105          |Carrie   |114421.44|1998-12-10|Data Science                               |Seattle      |High           |
|109          |Gabriella|106267.03|1995-02-09|Customer Service                           |San Francisco|High           |
|101          |Kristen  |88237.54 |2010-11-15|Human Resources                            |San Diego    |High           |
|101          |Michelle |64262.85 |2005-10-30|Human Resources                            |San Diego    |High           |
|105          |Michelle |103521.88|1991-07-10|Data Science                               |Seattle      |High           |
|110          |Lisa     |55435.93 |2016-03-25|Corporate Strategy and Business Development|Los Angeles  |High           |
|103          |Cheryl   |88073.75 |2020-08-21|Sales and Marketing                        |Chicago      |High           |
|107          |Mikayla  |95192.05 |2022-05-13|Legal                                      |Chicago      |High           |
|108          |Sean     |64904.69 |2021-06-06|Research and Development                   |Philadelphia |High           |
|105          |Monica   |92589.97 |2022-05-09|Data Science                               |Seattle      |High           |
|104          |Katelyn  |147225.58|2008-03-14|Data Engineering                           |Zapopan      |High           |
|108          |Linda    |146632.64|2002-09-04|Research and Development                   |Philadelphia |High           |
|109          |Tammy    |128860.4 |2014-04-18|Customer Service                           |San Francisco|High           |
|103          |William  |142645.41|1998-05-25|Sales and Marketing                        |Chicago      |High           |
|109          |Jorge    |87587.51 |2018-03-25|Customer Service                           |San Francisco|High           |
|103          |John     |119796.45|2019-08-18|Sales and Marketing                        |Chicago      |High           |
|109          |Thomas   |80599.69 |2021-04-25|Customer Service                           |San Francisco|High           |
|103          |Robert   |59194.51 |2010-01-08|Sales and Marketing                        |Chicago      |High           |
+-------------+---------+---------+----------+-------------------------------------------+-------------+---------------+
only showing top 20 rows

+-------------+---------+--------+----------+------------------------+-------------+---------------+
|department_id|name     |salary  |hire_date |department_name         |location     |salary_category|
+-------------+---------+--------+----------+------------------------+-------------+---------------+
|104          |Renee    |54688.13|1995-03-17|Data Engineering        |Zapopan      |Low            |
|102          |Jonathan |39323.42|2012-06-30|Finance and Accounting  |New York     |Low            |
|104          |Lisa     |36032.49|2019-05-16|Data Engineering        |Zapopan      |Low            |
|109          |John     |44836.57|2004-11-13|Customer Service        |San Francisco|Low            |
|109          |Rachel   |43269.85|1992-07-13|Customer Service        |San Francisco|Low            |
|106          |Juan     |39368.32|2018-05-22|Operations              |London       |Low            |
|105          |Jorge    |54757.83|2021-11-13|Data Science            |Seattle      |Low            |
|103          |Mark     |40930.72|2007-12-19|Sales and Marketing     |Chicago      |Low            |
|101          |Andrea   |36776.84|2009-07-05|Human Resources         |San Diego    |Low            |
|109          |Ashley   |31316.34|2003-12-12|Customer Service        |San Francisco|Low            |
|109          |Luke     |53907.75|1997-10-25|Customer Service        |San Francisco|Low            |
|105          |Mikayla  |53675.16|1994-11-14|Data Science            |Seattle      |Low            |
|107          |Tonya    |48626.77|2024-10-06|Legal                   |Chicago      |Low            |
|103          |Tristan  |52141.69|2023-12-17|Sales and Marketing     |Chicago      |Low            |
|105          |Katherine|53978.6 |2010-04-13|Data Science            |Seattle      |Low            |
|103          |Renee    |50095.07|2007-01-07|Sales and Marketing     |Chicago      |Low            |
|106          |Raymond  |44243.31|2011-08-25|Operations              |London       |Low            |
|102          |Juan     |36367.13|2014-09-04|Finance and Accounting  |New York     |Low            |
|108          |James    |45984.0 |2011-10-13|Research and Development|Philadelphia |Low            |
|108          |Raymond  |31653.09|2002-03-18|Research and Development|Philadelphia |Low            |
+-------------+---------+--------+----------+------------------------+-------------+---------------+
only showing top 20 rows

In [25]:
# Calcular el salario promedio por departamento
df_high_avg_salary = df_high_salary.groupBy("department_name").agg(avg("salary").alias("avg_salary"))
df_low_avg_salary = df_low_salary.groupBy("department_name").agg(avg("salary").alias("avg_salary"))

df_high_avg_salary.show(truncate=False)
df_low_avg_salary.show(truncate=False)

+-------------------------------------------+------------------+
|department_name                            |avg_salary        |
+-------------------------------------------+------------------+
|Corporate Strategy and Business Development|102741.38324414717|
|Sales and Marketing                        |100839.65275449108|
|Data Engineering                           |101626.29492163012|
|Research and Development                   |98714.3003086419  |
|Finance and Accounting                     |100731.07877887784|
|Customer Service                           |101585.01600000002|
|Legal                                      |99366.3129102167  |
|Data Science                               |101903.63710344829|
|Operations                                 |100169.65621722837|
|Human Resources                            |104999.43191489363|
+-------------------------------------------+------------------+

+-------------------------------------------+------------------+
|department_name                            |avg_salary        |
+-------------------------------------------+------------------+
|Corporate Strategy and Business Development|41590.741833333326|
|Sales and Marketing                        |41150.40277777778 |
|Data Engineering                           |41358.50794117647 |
|Finance and Accounting                     |42740.952888888874|
|Research and Development                   |41426.43521126761 |
|Customer Service                           |42644.472021276604|
|Legal                                      |41160.26616438357 |
|Data Science                               |41974.18958333334 |
|Operations                                 |40646.100705882345|
|Human Resources                            |41751.64784810126 |
+-------------------------------------------+------------------+

### Sort

In [ ]:
# Obtener los Top 5 empleados con salarios más altos
df_top5_high = df_high_salary.orderBy(desc("salary")).limit(5)
df_top5_low = df_low_salary.orderBy(desc("salary")).limit(5)

df_top5_high.show(truncate=False)
df_top5_low.show(truncate=False)

+-------------+---------+---------+----------+-------------------------------------------+-----------+---------------+
|department_id|name     |salary   |hire_date |department_name                            |location   |salary_category|
+-------------+---------+---------+----------+-------------------------------------------+-----------+---------------+
|101          |Gabriella|149989.73|2018-09-14|Human Resources                            |San Diego  |High           |
|101          |Katherine|149979.3 |2017-07-26|Human Resources                            |San Diego  |High           |
|110          |Ryan     |149963.1 |1990-07-03|Corporate Strategy and Business Development|Los Angeles|High           |
|107          |Caitlyn  |149956.54|2000-07-27|Legal                                      |Chicago    |High           |
|107          |Mark     |149915.56|2007-11-06|Legal                                      |Chicago    |High           |
+-------------+---------+---------+----------+-------------------------------------------+-----------+---------------+

25/03/14 14:47:12 ERROR TaskSchedulerImpl: Lost executor 0 on 172.21.0.3: worker lost: Not receiving heartbeat for 60 seconds
25/03/14 14:49:28 ERROR TaskSchedulerImpl: Ignoring update with state FINISHED for TID 26 because its task set is gone (this is likely the result of receiving duplicate task finished status updates) or its executor has been marked as failed.
25/03/14 14:49:33 WARN StandaloneSchedulerBackend$StandaloneDriverEndpoint: Ignored task status update (26 state FINISHED) from unknown executor with ID 0

### Find the number of employees whit more years in the company

In [2]:
df_enriched = df_enriched.withColumn("years_in_company", year(current_date()) - year(col("hire_date")))

# empleados con más años en la empresa
df_most_years = df_enriched.orderBy(desc("years_in_company"))
df_count_most_years = df_most_years.count()

df_most_years.show(truncate=False)
print(f"Total empleados con más años en la empresa: {df_count_most_years}")

NameError: name 'df_enriched' is not defined

### Display the  Spark Plan

In [ ]:
df_high_salary.explain()

In [ ]:
spark.stop()